package views

import "HTTP_Sever/model"

templ Hello(globalState *model.GlobalState) {
	@Layout(globalState, "", "hello") {
		<div><p class="text-gray-600 font-sans">Hello { globalState.User }</p></div>
		<div><p class="text-gray-800 font-sans">Welcome to Ado User Dashboard Redux</p></div>
	}
}
