package views

templ Layout() {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Ado User Dashboard Redux</title>
			<script src="https://unpkg.com/htmx.org@2.0.1"></script>
			<script src="https://unpkg.com/alpinejs" defer></script>
			<link rel="stylesheet" href="/static/style.css"/>
		</head>
		@Header()
		{ children... }
		@Footer()
	</html>
}
